@import "@styles/helpers/index.scss";

.user {
  display: flex;
  gap: 20px;
  align-items: center;
  width: 264px;
  height: 56px;

  &__initials {
    @include flex-center;
    color: $white;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    width: 56px;
    height: 56px;
    border-radius: 10px;
    background-color: $primary;
  }

  &__name {
    margin-right: auto;
    font-weight: 600;
    color: $white;
  }

  &__arrow {
    width: 24px;
    height: 24px;
    background: url("/icons/arrow_down.svg");
  }
}
