$black: rgba(0, 0, 0, 1);
$dark: rgba(36, 36, 38, 1);
$graphite: rgba(50, 53, 55, 1);
$secondary: rgba(128, 133, 139, 1);
$white: rgba(255, 255, 255, 1);
$primary: rgba(123, 97, 255, 1);
$shadow: rgb(31, 100, 140);
$green: rgba(0, 163, 64, 1);
$light: rgba(175, 178, 182, 1);
$yellow: rgb(245, 197, 24);
$red: rgb(255, 0, 0)
