@import "@styles/helpers/index.scss";

.footer {
  max-width: 165px;
  width: 100%;
  margin-top: auto;

  &__button {
    background: rgba(50, 53, 55, 1);
    border-radius: 40px;
    padding: 8px 24px;
  }
}
