@import '@/styles/helpers/index.scss';

.form-field {
  &__label {
    margin-bottom: 20px;
  }

  &__password-toggle {
    position: absolute;
    height: 100%;
    top: 50%;
    right: 5%;
    transform: translate(0, -50%);
  }

  &__input-wraper {
    position: relative;
  }

  &__input-field {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
  }
}
