@import "../../styles/helpers/index.scss";

.movie-item {
  width: 266px;

  &__img-wrapper {
    height: 357px;
    margin-bottom: 24px;
    position: relative;
  }

  &__img {
    object-fit: contain;
    border-radius: 20px;
  }

  &__rating {
    @include flex-center;
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 0 8px;
    height: 28px;
    border-radius: 6px;
    font-weight: 600;
    color: $white;
    background-color: $green;
  }

  &__title {
    font-weight: 700;
    color: $white;
    margin-bottom: 4px;
  }

  &__tags {
    display: flex;
    gap: 20px;
  }

  &__tag {
    font-weight: 500;
    color: $light;
  }
}
