@import '@/styles/helpers/index.scss';

.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.text {
  line-height: 19px;
  font-weight: 500;
  text-align: center;
  color: $secondary;
  margin-bottom: 16px;
}

.links {
  display: flex;
  gap: 24px;
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 30px;
  border: 1px solid rgba(216, 237, 255, 1);
  cursor: pointer;
  background-color: white;
}

.img {
  width: 24px;
  height: 24px;
}
