@import '@styles/helpers/index.scss';

.movie-id {
  display: flex;
  gap: 42px;
  width: 100%;

  &__preview {
    width: 266px;
  }

  &__img-wrapper {
    // width: 266px;
    height: 356px;
    margin-bottom: 32px;
  }

  &__img {
    border-radius: 20px;
  }

  &__buttons {
    display: flex;
    gap: 2px;
    position: relative;
  }

  &__button {
    padding: 16px 54px;
    background-color: $graphite;

    &_left {
      border-radius: 10px 0 0 10px;
    }

    &_right {
      border-radius: 0 10px 10px 0;
    }

    & img {
      width: 24px;
      height: 24px;
    }
  }

  &__share {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 50%);
  }

  &__tags {
    display: flex;
    gap: 20px;
  }

  &__tag {
    color: $light;
    font-weight: 500;
  }

  &__title {
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 40px;
    font-family: Exo 2;
    line-height: 60px;
    color: $white;
  }

  &__ratings {
    display: flex;
    gap: 20px;
    color: $white;
    margin-bottom: 40px;
  }

  &__rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 8px;
    border-radius: 10%;
    color: $black;
    font-weight: 800;
    font-size: 20px;

    &_kinopoisk {
      background-color: $yellow;
    }

    &_imdb {
      background-color: $white;
    }
  }

  &__img-kinopoisk {
    width: 30px;
    height: 30px;
  }

  &__img-imdb {
    width: 50px;
    height: 30px;
  }

  &__text {
    font-weight: 500;
    color: $white;
    margin-bottom: 40px;
  }

  &__list {
    display: flex;
    gap: 54px;
    margin-bottom: 56px;

    &_col-key {
      display: flex;
      flex-direction: column;

      font-weight: 600;
      color: $light;
      gap: 20px;
    }

    &_col-string {
      display: flex;
      flex-direction: column;
      font-weight: 500;
      color: $white;
      gap: 20px;
    }
  }

  & span {
    font-weight: 500;
    color: $white;
  }

  &__recomendation {
    font-weight: 600;
    color: $white;
    font-size: 24px;
    margin-bottom: 40px;
  }

  &__posters {
    display: flex;
    height: 380px;
    flex-wrap: wrap;
    gap: 40px;
  }

  &__swiper {
    position: relative;

     width: 100%;
  max-width: 1120px;
  }

  &__arrow {
    position: absolute;
    font-size: 36px;
    color: $white;
    background-color: $black;

    cursor: pointer;

    &_prev {
      top: -20%;
      right: 15%;
    }

    &_next {
      top: -20%;
      right: 10%;
    }
  }
}
