@import '@styles/helpers/index.scss';

.sidebar {
  display: flex;
  flex-direction: column;
  width: 368px;
  height: 100vh;
  flex-shrink: 0;
  padding: 48px 40px 64px 62px;
  position: fixed; //FIXME: main margin-left: 368px

  &__logo {
    margin-bottom: 64px;
    width: 158px;
    height: 40px;
    background: url('/img/pixema.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__item {
    display: flex;
    height: 24px;
    gap: 20px;
    cursor: pointer;

    &_active {
      display: flex;
      height: 24px;
      gap: 20px;
      cursor: pointer;
      color: red;
    }
  }

  &__item-icon {
    width: 24px;
    height: 24px;
  }

  &__item-title {
    font-weight: 600;
    color: $secondary;
  }

  &__footer {
    margin-top: auto;
    color: $light;
    font-weight: 500;
  }
}
