@import '@styles/helpers/index.scss';

.main {
  display: flex;
  flex-direction: column;
  gap: 56px;
  height: 100%;
  overflow: hidden;
  margin-left: 368px; //FIXME: Решение при Sidebar position fixed
  padding: 40px 62px 64px;
  flex-grow: 1;
}
