@import "./colors.scss";

@mixin font-default {
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
