@import '@/styles/helpers/index.scss';

.sign-in-form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 574px;
  width: 100%;
  padding: 40px;
  color: $white;
  background-color: $dark;
  border-radius: 10px;

  &__error {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f87171; 
    color: $white;
    font-size: 16px; 
    font-weight: 500;
    border-radius: 0.375rem;
    min-height: 40px;
    line-height: 1.2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  &__invalid {
    opacity: 0;
    transform: translateY(-5px);
    animation: slideDown 1.3s forwards;

    @keyframes slideDown {
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  &__valid {
    opacity: 0;
  }

  &__title {
    font-size: 24px;
  }

  &__alert {
  }

  &__form-fields {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
  }

  &__submit-button {
    margin-bottom: 24px;
    padding: 17px 40px;
    width: 100%;
    border-radius: 10px;
        background-color: $primary;

    transition: all 0.3s ease;
    box-shadow: $shadow 0px 10px 0px 0px;
    cursor: pointer;
    color: $white;

    &:hover {
      box-shadow: $shadow 0px 7px 0px 0px;
    }

    &:active {
          background-color: $primary;

      box-shadow: $shadow 0px 0px 0px 0px;
      transform: translateY(5px);
      transition: 200ms;
    }
  }

  &__hint {
    font-weight: 500;
    text-align: center;
    color: $secondary;
    margin-bottom: 35px;
  }

  &__sign-in-link {
    color: $primary;
    text-decoration: none;
    margin-left: 10px;
  }
}
