@import "@styles/helpers/index.scss";

.header {
  display: flex;
  gap: 41px;
  width: 100%;

  &__form {
    display: flex;
    padding: 16px 16px 16px 20px;
    align-items: center;
    gap: 20px;
    background-color: $graphite;
    border-radius: 10px;
    height: 56px;
    flex-grow: 1;
  }

  &__search {
    background: none;
    border: 0;
    outline: none;
    font-weight: 500;
    color: $white;
    flex-grow: 1;

    &::placeholder {
      color: $secondary;
    }
  }

  &__filter {
    width: 24px;
    height: 24px;
    background: url("/icons/filter.svg");
  }
}
